@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #440444;
}

a {
  color: #c5c1f1;
}

header {
  max-width: 100vw;
  padding: 1.2rem 4rem;
  display: flex;
  background: #440444;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 20px 1fr;
  grid-template-areas:
    'logo ombudsman'
    'logo services';
  gap: 0.5rem;
  height: 50px;
}

.logoImg {
  grid-area: logo;
  height: 50px;
  width: 50px;
  align-self: center;
}

.logoOm {
  grid-area: ombudsman;
  font-size: 1.5rem;
  font-weight: 700;
}

.logoSe {
  grid-area: services;
  font-size: 1.2rem;
  font-weight: 700;
}

.topNav {
  display: flex;
  list-style-type: none;
}

.topNav > li {
  padding: 1rem 1rem 0px 1rem;
  font-weight: 600;
  cursor: pointer;
}

.topNav > li:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #c5c1f1;
}

.carat {
  height: 17px;
  position: relative;
  top: 2px;
}




.complainNowBtn {
  background: radial-gradient(circle at top left, #15b376 0%, #66d9ac 20%);
  height: 60px;
  width: 200px;
  color: #520051;
  font-size: 20px;
  font-weight: 700;
  padding: 1rem 1.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.complainNowBtn > span {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 35px;
}

.complainNowBtnCurve {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background: #168d7d;
  position: absolute;
  bottom: -5px;
  left: -200px;
  z-index: 0;
  transition: 0.3s;
}

.complainNowBtn:hover .complainNowBtnCurve{
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background: #168d7d;
  position: absolute;
  bottom: -5px;
  left: -60px;
  z-index: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 95%;
  padding: 4rem 2rem 1rem 4rem;
  background-image: radial-gradient(circle at bottom, #520051 50%, #440444 20%);
}



h2 {
  font-size: 3rem;
  margin: 0px;
}

.complainingIsntEasy {
  color: white;
}

.weMakeSureItsFair {
  color: #66d9ac;
}

.whiteText {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.2rem;
}

.heroIllustration {
  position: relative;
  right: 4rem;
}

.intro {
  background: #ffffff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  gap: 5rem;
  padding: 2rem;
}

.hello {
  margin-left: 5rem;
  align-self: center;
  color: #440444;
  min-width: 500px;
}

.helloHeader {
  font-weight: 700;
  font-size: 2rem;
}

.aboutBtn {
  width: 180px;
  font-weight: 700;
  padding: 1.5rem;
  font-size: 1.2rem;
  border: solid #440444 1px;
  border-radius: 10px;
  color: #440444;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.aboutBtn:hover {
  background: #440444;
  color: #ffffff;
}

.aboutBtn > span {
  z-index: 100;
  position: absolute;
  top: 12px;
  left: 50px;
}

.aboutBtnCurve {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background: #240424;
  position: absolute;
  top: -10px;
  left: -200px;
  z-index: 0;
  transition: 0.3s;
}

.aboutBtn:hover .aboutBtnCurve{
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background: #240424;
  position: absolute;
  bottom: -5px;
  left: -60px;
  z-index: 0;
}


.beforeComplaint {
  background: #e4f9ec;
  padding: 2rem;
  border-radius: 10px;
  color: #440444;
  max-width: 460px;
  margin-right: 7rem;

}

.beforeComplaintHeader {
  font-size: 1.5rem;
}

.beforeComplaintList {
  list-style: disc;
  color: #15b376;
  font-size: 1.5rem;
  position: relative;
  right: 1rem;
}

.beforeComplaintList > li > span {
  color: #440444;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}

.beforeComplaintBtn {
  background: #66d9ac;
  color: #440444;
  font-weight: 700;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  width: 330px;
  height: 70px;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}

.beforeComplaintBtn > span {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 35px;
}

.beforeComplaintBtnCurve {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background: #168d7d;
  position: absolute;
  bottom: -5px;
  left: -200px;
  z-index: 0;
  transition: 0.3s;
}

.beforeComplaintBtn:hover .beforeComplaintBtnCurve{
  width: 300px;
  height: 300px;
  border-radius: 500px;
  background: #168d7d;
  position: absolute;
  bottom: -100px;
  left: -60px;
  z-index: 0;
}

.whenCanIComplain {
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whenCanIComplainHeader {
  font-size: 2rem;
  font-weight: 700;
  color: #440444;
  margin-left: 6.2rem;
}

.whenCanIComplainVideo {
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.howItWorks {
  background: #eeeeff;
  color: #440444;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-top: 2rem;
}

.howItWorksHeader {
  font-weight: 700;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.howItWorksPara {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.2rem;
}

.process {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto 1fr 1fr;
  grid-template-areas:
    'one one three three'
    'one one three three'
    'line line line line'
    '. two two four'
    '. two two four';
  width: 100%;
  column-gap: 1rem;
  height: 600px;
  margin-top: 70px;
}

.processLine {
  grid-area: line;
}

.processHeader {
  font-size: 1.5rem;
  align-self: center;
  justify-self: stretch;
}

.process1 {
  grid-area: one;
  padding-left: 6rem;
  width: 400px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px 200px;
  grid-template-areas:
    'circle1 processhead1'
    'horizontal1 processpara1';
  column-gap: 25px;
}

#circle1 {
  grid-area: circle1;
  position: relative;
  right: 22px;
  top: 5px;
}

#numberLine1 {
  grid-area: horizontal1;
  width: 5px;
  background: #66d9ac;
  position: relative;
  top: 5px;
  height: 240px;
}

#processHeader1 {
  grid-area: processhead1;
}

#processPara1 {
  grid-area: processpara1;
}

.process2 {
  position: relative;
  right: 100px;
  grid-area: two;
  padding-left: 6rem;
  width: 500px;
  display: grid;
  column-gap: 25px;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 140px 50px 1fr;
  grid-template-areas:
    'horizontal2 .'
    'circle2 processhead2'
    '. processpara2';
}

#circle2 {
  grid-area: circle2;
  position: relative;
  right: 22px;
  bottom: 20px;
}

#numberLine2 {
  grid-area: horizontal2;
  width: 5px;
  background: #66d9ac;
  position: relative;
  bottom: 7px;
  height: 130px;
}

#processHeader2 {
  grid-area: processhead2;
  position: relative;
  bottom: 20px;
}

#processPara2 {
  grid-area: processpara2;
  position: relative;
  bottom: 20px;
}

.process3 {
  position: relative;
  top: 90px;
  grid-area: three;
  padding-left: 6rem;
  justify-content: start;
  width: 500px;
  display: grid;
  column-gap: 25px;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px 400px;
  grid-template-areas:
    'circle3 processhead3'
    'horizontal3 processpara3';
}

#circle3 {
  grid-area: circle3;
  position: relative;
  right: 22px;
  top: 5px;
}

#numberLine3 {
  grid-area: horizontal3;
  width: 5px;
  background: #66d9ac;
  position: relative;
  top: 5px;
  height: 150px;
}

#processHeader3 {
  grid-area: processhead3;
}

#processPara3 {
  grid-area: processpara3;
  width: 100%;
}

.process4 {
  grid-area: four;
  padding-left: 6rem;
  width: 500px;
  position: relative;
  right: 100px;
  display: grid;
  column-gap: 25px;
  grid-template-columns: 50px 300px;
  grid-template-rows: 20px 50px 1fr;
  grid-template-areas:
    'horizontal4 .'
    'circle4 processhead4'
    '. processpara4';
}

#circle4 {
  grid-area: circle4;
  position: relative;
  right: 22px;
}

#numberLine4 {
  grid-area: horizontal4;
  width: 5px;
  background: #66d9ac;
  position: relative;
  bottom: 10px;
  height: 30px;
}

#processHeader4 {
  grid-area: processhead4;
}

#processPara4 {
  grid-area: processpara4;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: #00a88f;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
}

.lowerContainer {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background: #e4f9ec;
  background: -moz-linear-gradient(90deg, #e4f9ec 50%, #ffffff 0%);
  background: -webkit-linear-gradient(90deg, #e4f9ec 50%, #ffffff 0%);
  background: -o-linear-gradient(90deg, #e4f9ec 50%, #ffffff 0%);
  background: -ms-linear-gradient(90deg, #e4f9ec 50%, #ffffff 0%);
  background: linear-gradient(180deg, #e4f9ec 50%, #ffffff 0%);
}

.whyUseAndExpect {
  display: flex;
  background: #6e64e8;
  color: #ffffff;
  width: 80%;
  padding: 40px;
  padding-left: 80px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 0px;
}

.whyUse {
  width: 45%;
  align-self: center;
}

.whyUseHeader {
  font-size: 2rem;
}

.whyUseBtn {
  padding: 1rem;
  background: #6e64e8;
  color: #ffffff;
  border: solid 3px #ffffff;
  border-radius: 8px;
  width: 200px;
  height: 70px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.whyUseBtn:hover {
  color: #240424;
}


.whyUseBtn > span {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 35px;
}

.whyUseBtnCurve {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background: #ffffff;
  position: absolute;
  bottom: -5px;
  left: -200px;
  z-index: 0;
  transition: 0.3s;
}

.whyUseBtn:hover .whyUseBtnCurve{
  width: 300px;
  height: 300px;
  border-radius: 500px;
  background: #ffffff;
  position: absolute;
  bottom: -80px;
  left: -120px;
  z-index: 0;
}

.expect {
  width: 55%;
  justify-self: center;
  padding-left: 40px;
}

.expectHeader {
  font-size: 1.5rem;
}

.expectUL > li > span {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 3rem;
}

.resultsContainer {
  display: flex;
  background: #ffffff;
  color: #440444;
  width: 80%;
  padding: 40px;
  padding-left: 80px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.fewerComplaints {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    position: relative;
    top: 100px;
}

.fewerComplaintsHeader {
    font-size: 1.6rem;
}

.fewerComplaintsPara {
    font-size: 1.1rem;
}

.resolvedComplaints {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.resolvedComplaintsBubble {
    border: solid 5px #ed5d37;
    background: #ffffff;
    border-radius: 3px;
    padding: 40px;
    width: 400px;
    margin-left: 40px;
    z-index: 2;
}

.resolvedComplaintsNumber{
    color: #ed5d37;
    font-size: 4rem;
    margin: 0px;
}

.resolvedComplaintsPara {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px;
}

.resolvedComplaintsBubbleTail {
    min-height: 100px;
    width: 100px;
    border: solid 5px #ed5d37;
    border-radius: 55px;
    z-index: 0;
    position: relative;
    bottom: 55px;
    left: 70px;
}

.cssMan {
    width: 150px;
    height: 150px;
    background: #ffffff;
    z-index: 1;
    position: relative;
    bottom: 110px;
    left: 130px;
}

.cssManHead{
    border: solid 6px #ff9646;
    border-radius: 80px;
    height: 140px;
    width: 100px;
    overflow: hidden;
    z-index: 2;
    margin: 30px 20px;
}

.cssManHairMain {
      border: solid 6px #ff9646;
      background: #ffffff;
    border-radius: 80px;
    height: 140px;
    width: 100px;
    position: relative;
    bottom: 80px;
    right: 30px;
    z-index: 3;
}

.cssManHairSide {
    border: solid 6px #ff9646;
    background: #ffffff;
    border-radius: 80px;
    height: 140px;
    width: 100px;
    position: relative;
    bottom: 230px;
    left: 50px;
    z-index: 2;
}

.cssManFace {
    border: solid 6px #ff9646;
    background: #ffffff;
    border-radius: 30px;
    height: 140px;
    width: 75px;
   position: relative;
   bottom: 340px;
   left: 5px;
    z-index: 1;
}

.cssManLeftEye {
    background: #ff9646;
    height: 12px;
    width: 12px;
    border-radius: 6px 6px 0 0;
    z-index: 2;
    position: relative;
    top: 115px;
    left: 10px;
}

.cssManRightEye {
    background: #ff9646;
    height: 12px;
    width: 12px;
    border-radius: 6px 6px 0 0;
    z-index: 2;
    position: relative;
    top: 103px;
    left: 45px;
}

.cssManMouth {
    background: #ff9646;
    height: 12px;
    width: 12px;
    border-radius: 0 0 6px 6px;
    z-index: 4;
    position: relative;
    bottom: 335px;
    left: 40px;
}

.bottomWhiteContainer {
    background: #ffffff;
    width: 100%;
    padding-bottom: 20px;
}

.readyToComplain {
  background: #00a88f;
  color: #440444;
  width: 80%;
  height: 280px;
  padding: 40px;
  padding-left: 80px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  overflow: hidden;
}

.readyToComplainCurve {
  height: 2000px;
  width: 2000px;
  border-radius: 1000px;
  background: #66d9ac;
  position: relative;
  bottom: 500px;
  z-index: 0;
}


.readyToComplainHeader {
  font-size: 2rem;
  z-index: 2;
position: relative;
}

.readyToComplainPara {
  position: relative;
  z-index: 2;
}

.readyToComplainBtn {
  cursor: pointer;
  margin-top: 20px;
  background: #ffffff;
  color: #440444;
  height: 65px;
  width: 250px;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}


.readyToComplainBtn > span {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 35px;
}

.readyToComplainBtnCurve {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background: #168d7d;
  position: absolute;
  bottom: -5px;
  left: -200px;
  z-index: 0;
  transition: 0.3s;
}

.readyToComplainBtn:hover .readyToComplainBtnCurve{
  width: 300px;
  height: 300px;
  border-radius: 500px;
  background: #168d7d;
  position: absolute;
  bottom: -100px;
  left: -100px;
  z-index: 0;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  color: #ffffff;
  font-size: 1.5rem;
}

.footerUL {
  list-style: none;
  font-size: 1.2rem;
  position: relative;
  right: 40px;
  line-height: 40px;
}

.socials {
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 30px;
}

.socialIcon {
  filter: brightness(0) invert(1);
  transition: 0.2s;
  cursor: pointer;
}

.socialIcon:hover {
  filter: none;
}

.footerBottom {
  width: 90%;
  background: #240424;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 80px;
}

.footerPara {
  width: 50%;
  text-align: right;
}

DROPDOWNS 



.subnav3 {
  color: #dcdbf1;
  width: 12rem;
  padding: 1rem;
  display: block;
  border-radius: 4px;
  position: absolute;
  top: 5rem;
 
}

.subnav2 {
  color: #dcdbf1;
  width: 12rem;
  padding: 1rem;
  display: block;
  border-radius: 4px;
  position: absolute;
  top: 5rem;
  right: 32rem;
  z-index: 100;
}

.subnav1 {
  color: #dcdbf1;
  width: 12rem;
  padding: 1rem;
  display: block;
  border-radius: 4px;
  position: absolute;
  top: 5rem;
}


.subnav {
  position: absolute;
  bottom: 1000px;
}

.subnavcontent {
  z-index: 100;
  background: #6e64e8;
  padding: 15px 20px;
  width: 150px;
  list-style: none;
  font-weight: 700;
}

.mobile {
  display: none;
}


@media only screen and (max-width: 900px) {
  .desktop {
    display: none;
  }

  .mobile {
    background: #FFFFFF;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
    position: relative;
  }

  .cssManMobile {
    position: absolute;
    top: 100px;
    right: 30vw;
  }

  .mobileMessage {
    max-width: 300px;
    text-align: center;
    margin-top: 50px;
    color:#ed5d37
  }
}